# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.lock

# Downloaded MP3s
*.mp3

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace
.history/

# OS files
.DS_Store
Thumbs.db